# binary files
*.npy
*.pkl
*.h5
*.ckpt.*
*.tflite
*.pb

# checkpoints
checkpoint*

# ignored directories
benchmark
tf_models
tflite_models

# temporary files
*.pyc
*.ipynb_checkpoints

# database
*.csv
